.uploaded-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .file-name {
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  